{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
       {% comment %} <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
</svg> {%endcomment%}<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_230_2959)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.12588 1.16699C5.33523 1.16706 4.55605 1.3562 3.85336 1.71865C3.15068 2.08109 2.54485 2.60632 2.08643 3.25052C1.62802 3.89471 1.3303 4.63919 1.21813 5.42185C1.10595 6.20451 1.18257 7.00264 1.44158 7.74967C1.7006 8.49669 2.13451 9.17094 2.7071 9.71617C3.2797 10.2614 3.97438 10.6618 4.73318 10.8839C5.49199 11.1061 6.29291 11.1435 7.06914 10.9932C7.84537 10.8428 8.57439 10.5091 9.19538 10.0197L11.3257 12.15C11.4357 12.2563 11.5831 12.315 11.736 12.3137C11.889 12.3124 12.0353 12.251 12.1434 12.1429C12.2516 12.0347 12.3129 11.8884 12.3143 11.7355C12.3156 11.5825 12.2568 11.4352 12.1505 11.3252L10.0202 9.19483C10.5965 8.46369 10.9554 7.58506 11.0557 6.6595C11.156 5.73394 10.9937 4.79884 10.5873 3.96121C10.181 3.12359 9.54706 2.41728 8.75806 1.92313C7.96905 1.42897 7.05686 1.16693 6.12588 1.16699ZM2.33421 6.12533C2.33421 5.11971 2.73369 4.15529 3.44477 3.44421C4.15584 2.73314 5.12027 2.33366 6.12588 2.33366C7.13149 2.33366 8.09592 2.73314 8.80699 3.44421C9.51807 4.15529 9.91755 5.11971 9.91755 6.12533C9.91755 7.13094 9.51807 8.09536 8.80699 8.80644C8.09592 9.51752 7.13149 9.91699 6.12588 9.91699C5.12027 9.91699 4.15584 9.51752 3.44477 8.80644C2.73369 8.09536 2.33421 7.13094 2.33421 6.12533Z" fill="#6D5F52"/>
        </g>
        <defs>
        <clipPath id="clip0_230_2959">
        <rect width="14" height="14" fill="white"/>
        </clipPath>
        </defs>
        </svg>
  
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-reset">
              </svg>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg class="icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">
              </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type="button"
          class="search-modal__close-button modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
