<div class="my-card">
    <div class="my-card__wrap">
        <div class="image">
            <a href="{{product.url}}">
                <div class="image__body">
                    <img  src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.title }}">
                </div>
            </a>
        </div>
        <div class="item-content">
            <div class="item-content__wrap">
                <div class="title">
                    <h6>
                        {{product.title}}
                    </h6>
                </div>
                {% if product.metafields.custom.material != blank %}
                    <div class="overline">
                        <p>
                            {{product.metafields.custom.material}}
                        </p>
                    </div>
                {% endif %}
                <div class="product_price">
                    <p>
                        Mietpreis: <span>{{product.price | money}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="product-btn">
            <a href="{{product.url}}" class="a-btn"> Details</a>
        </div>
    </div>
</div>