{% comment %}<div class="product-grid-collection-filter">
    {% for item in list %}
      {% if item.links != empty %}
        <details class="collection-filter-item">
          <summary>{{ item.title }}</summary>
          {% for sub_item in item.links %}
            <p>
              <a {% if forloop.first %}class="first-subitem"{% endif %} href="{{ sub_item.url }}">{{ sub_item.title }}</a>
            </p>
          {% endfor %}
        </details>
      {% else %}
        <p class="collection-filter-item">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  </div>{% endcomment %}




  <div class="my-aside-collection">
    <div class="my-aside-collection__wrap">
      <ul class="menu-aside">
        {% for item in list %}
            {% assign isOpen = false %}
            {% if item.current %}
              {% assign isOpen = true %}
            {% endif %}
            {% if item.links != empty %}
              {% for lk in item.links %}
                {% if lk.current %}
                  {% assign isOpen = true %}
                {% endif %}
              {% endfor %}
            {% endif %}
          <li class="first-lvl {% if isOpen %}active{% endif %} element-animation">
            <div class="link-item">
              <a href="{{ item.url }}"> {{ item.title }}</a>
              {% if  item.links != empty %}
                <svg  class="aside-btn"  width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="5.63281" y1="0.5" x2="5.63281" y2="11.5" stroke="#6D5F52"/>
                  <line x1="11" y1="6.13379" y2="6.13379" stroke="#6D5F52"/>
                </svg>
              {% endif %}
            </div>
            <ul class="links-second-lvl">
              {% for sub_item in item.links %}
                <li>
                  <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
