<div class="product-grid-collection-filter">
    {% for item in list %}
      {% if item.links != empty %}
        <details class="collection-filter-item">
          <summary>{{ item.title }}</summary>
          {% for sub_item in item.links %}
            <p>
              <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
            </p>
          {% endfor %}
        </details>
      {% else %}
        <p class="collection-filter-item">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </p>
      {% endif %}
    {% endfor %}
  </div>