<div class="hero-banner">
    <div class="container">
        <div class="hero-banner__wrap">
            <div class="left">
                <div class="left__wrap">
                    <div class="images element-animation">
                        <div class="images__wrap">
                            {% if section.settings.img1 != blank %}
                                <div class="image element-animation">
                                    <div class="image__body">
                                        <img src="{{section.settings.img1 | img_url: 'master'}}" alt="">
                                    </div>
                                    
                                </div>
                            {% endif %}
                            {% if section.settings.img2 != blank %}
                                <div class="image element-animation">
                                    <div class="image__body">
                                        <img src="{{section.settings.img2 | img_url: 'master'}}" alt="">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="title element-animation">
                        <h3>
                            {{section.settings.title}}
                        </h3>
                    </div>
                    <div class="text element-animation">
                        <h6>
                            {{section.settings.subtitle}}
                        </h6>
                    </div>
                    {% if  section.settings.url != blank %}
                        <div class="hero-btn element-animation">
                            <a href="{{section.settings.url}}" class="a-btn">{{section.settings.btn_name}}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="right__wrap">
                    <div class="image element-animation">
                        <img src="{{section.settings.img3 | img_url: 'master'}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "hero-banner",
        "settings": [
            {
                "type":"image_picker",
                "id":"img1",
                "label":"first image left"
                
            },
            {
                "type":"image_picker",
                "id":"img2",
                "label":"second image left"
            },
            {
                "type":"image_picker",
                "id":"img3",
                "label":"image right"
            },
            {
                "type":"text",
                "id":"title",
                "label":"title",
                "default": "Lass uns deine Feier mit <span>erschwinglichem</span> Luxus perfekt machen!"
            },
            {
                "type":"text",
                "id":"subtitle",
                "label":"subtitle",
                "default": "Eine Hochzeit? Eine Gender Reveal Party? Oder doch ein Kindergeburtstag? Was haben all diese Dinge gemeinsam? Es sind wichtige Tage für uns. Und all diese Tage haben etwas gemeinsam – wir feiern unsere Liebe! "
            },
            {
                "type":"text",
                "id":"btn_name",
                "label":"btn name",
                "default":"Entdecke unsere Kollektionen"
            },
            {
                "type":"url",
                "id":"url",
                "label":"url"
            }
        ],
        "presets": [
            {
                "name": "hero-banner"
            }
        ]
    }
    {% endschema %}