{% style %}  
    #shopify-section-{{ section.id }} .title {
        max-width:{{ section.settings.max_width }}px;
    }
    #shopify-section-{{ section.id }} .section-title-btn {
        background:{{ section.settings.bg }};
    }
    #shopify-section-{{ section.id }} .a-btn.second-btn {
        border: 1px solid var(--brown-01, #6D5F52);
        {% if section.settings.bnt_bg != blank %}
            background: {{ section.settings.bnt_bg }};
        {% else %}
            background:transparent;
        {% endif %}
    }
    #shopify-section-{{ section.id }} .a-btn.second-btn:hover {
        background:#6d5f52;
    }
    #shopify-section-{{ section.id }} .section-title-btns {
        display:flex;
        gap:15px;
        flex-wrap:wrap;
    }
    #shopify-section-{{ section.id }} .section-title-btn__wrap .text {
        text-align: center;
    }
    #shopify-section-{{ section.id }} .a-btn {
        background-color: {{ section.settings.bnt_bg }};
    }
{% endstyle %} 

<div class="section-title-btn">
    <div class="container">
        <div class="section-title-btn__wrap">
            <div class="title">
                <h4>
                    {{ section.settings.title }}
                </h4>
                {% if section.settings.text != blank %}
                    <p class="text">{{ section.settings.text }}</p>
                {% endif %}
            </div>
            {% if  section.settings.url != blank or section.settings.url1 != blank%}
                <div class="section-title-btns">
                    {% if  section.settings.url != blank %}
                        <a href="{{section.settings.url}}" class="a-btn second-btn">{{section.settings.btn_name}}</a>
                    {% endif %}
                    {% if  section.settings.url1 != blank %}
                        <a href="{{section.settings.url1}}" class="a-btn">{{section.settings.btn_name1}}</a>
                    {% endif %}
                    
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "section-title-btn",
        "settings": [
            {
                "type":"color",
                "id":"bg",
                "label":"background-color",
                "default": "#F8F5F0" 
            },
            {
                "type":"text",
                "id":"title",
                "label":"title",
                "default": "Du weisst bereits, was du möchtest und was dir zu deiner perfekten Feier noch fehlt? Dann setze dich direkt mit uns in Verbindung:"
            },
            {
                "type":"text",
                "id":"text",
                "label":"Text",
                "default": "Du weisst bereits, was du möchtest und was dir zu deiner perfekten Feier noch fehlt? Dann setze dich direkt mit uns in Verbindung:"
            },
            {
            "type": "range",
            "id": "max_width",
            "min": 350,
            "max": 620,
            "step": 3,
            "unit": "px",
            "label": "max-width text",
            "default": 620
            },
            {
                "type": "color",
                "id": "bnt_bg",
                "label": "Button background"
            },
            {
                "type":"text",
                "id":"btn_name",
                "label":"btn name 1",
                "default":"Kontaktiere uns"
            },
            {
                "type":"url",
                "id":"url",
                "label":"url 1"
            },
            {
                "type":"text",
                "id":"btn_name1",
                "label":"btn name 2",
                "default":"Kontaktiere uns"
            },
            {
                "type":"url",
                "id":"url1",
                "label":"url 2"
            }
        ],
        "presets": [
            {
                "name": "section-title-btn"
            }
        ]
    }
    {% endschema %}