
{{ 'section-tabs-slider.css' | asset_url | stylesheet_tag }}

<style>
#shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
</style>
{% liquid
  assign tabs = "" 
  for block in section.blocks 
    assign tabs = tabs | append: ',' | append: block.settings.name
  endfor
  assign tabsNameArray = tabs | remove_first: ',' | split: ',' | uniq 
%}

<div class="tabs-slider">
  <div class="container">
    <div class="product-tabs-recomentadion__wrap section-{{ section.id }}-padding">
      <div class="title">
        <h4> {{ section.settings.heading }} </h4>
      </div>
      <div class="tabs">
        <div class="tabs__header">
          {% for value in tabsNameArray %}
          <div class="tab__item{% if forloop.first %} active{% endif %}" data-title="{{ value }}">
              <span>{{ value }}</span>
            </div>
          {% endfor %}
        </div>
        <div class="tabs-contants">
          {% for tabName in tabsNameArray %}
            {% assign slidesArray = section.blocks | map: 'settings' | where: 'name', tabName %}

            <div class="tab-content  {% if  forloop.index == 1 %} active {% endif %}"  data-title="{{ tabName }}">
                <s-slider  class="swiper">
                  <script class="config" type="application/json">
                  {
                          "slidesPerView": 3,
                          "spaceBetween": 10,
                          "navigation": {
                            "nextEl": ".tabs-slider-btn-next-{{ forloop.index }}",
                            "prevEl": ".tabs-slider-btn-prev-{{ forloop.index }}"
                          },
                          "pagination": {
                            "el": ".my-swiper-pagination",
                            "clickable": true
                          },
                          "breakpoints": {
                            "100": {
                              "slidesPerView": 1
                            },
                    
                            "300": {
                              "slidesPerView": 1.5
                            },
                            "500": {
                              "slidesPerView": 2.5
                            },
                            "767": {
                              "slidesPerView": 3
                            },
                            "900": {
                              "slidesPerView": 3
                            },
                            "1024": {
                              "slidesPerView": 3
                            }
                          }
                      }
                  </script>
                  <div class="swiper-wrapper">
                    {% for slide in slidesArray %}
                      <div class="swiper-slide" style="height: auto;">
                        <div class="swiper-slide__wrap" style="height: 100%;">
                          <div class="img-wrap">
                              <img src="{{ slide.img | img_url: 'master'  }}" alt="">
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="tabs-slider-btn-next-{{ forloop.index }} swiper-button-next swiper-btn" style="color: #6D5F52;">
                  {% render 'icon-next-arrow' %}
                  </div>
                  <div class="tabs-slider-btn-prev-{{ forloop.index }} swiper-button-prev swiper-btn" style="color: #6D5F52"> 
                      {% render 'icon-prev-arrow' %}
                  </div>
                  <div class="pagination__wrap container" >
                    <div class="my-swiper-pagination"></div> 
                  </div>
                </s-slider>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Tabs Slider",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Gallery",
            "label": "Heading"
        },
        {
            "type": "collection_list",
            "id": "list",
            "label": "Collections"
        }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Tab name",
            "default": "Wedding Cakes"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
        {
            "name": "Tabs Slider"
        }
    ]
}
{% endschema %}